/*color pallet
#efeaff
#bfaaff
#b299fa
#512f98
#9883e5
#222222
*/
/*  -- Change this whenever, but we may want a font theme -- */
h1 {  
    font-family: "Palatino", "URW Palladio L", serif;
}


/*Main page*/
body{
    background-color: #efeaff;
}
.home-menu {
    padding: 0.5em;
    box-shadow: 2px 2px 2px  #222222;
    background: #512f98;
    border: 0.07em solid #222222;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
}

.pure-menu-item form {
    margin-left: 5px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
}
.pure-menu-item form input{
    margin-left: 5px;
}

.pure-menu-link{
    color: #222222;

    background-color: #b299fa;;
    border-radius: 1em;
    border-style: none;
    box-shadow: 0px 0px;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-wrap: wrap;
}

.pure-menu-link:hover{
    color: #b299fa;
    background-color: #222222;
}
.pure-menu-horizontal {
    margin-bottom: 1em;
}
#navbarWebsiteName{
    padding-left: 1em;
    padding-right: 1em;
    color: #b299fa;
    background-color: #222222;
    border-radius: 10px;
}

.page-title {
    justify-content: center;
    text-align: center;
    margin-top: 7em;
    padding-left: 2em;
    color: #222222;
}
.content {
    background: #00000000 ; /* Adjusted color */
    text-align: center;
    justify-content: center;
}
/*Playlist cards*/
.playlist {
    background: #00000000; /* Adjusted color */
    border-radius: 2em;
    text-align: center;
    border: 3px outset #222222;
    padding: 2em;
    

}
.playlist-container {
    background: #00000000; /* Adjusted color */
    border-radius: 2em;
    text-align: center;
    border: none;
    margin-bottom: 1em;
    margin-top: 1em;
    


}
.playlist:hover{
    background: #9883e5;
    border-bottom: 3px inset #512f98;
    border-top: 3px outset #b299fa;
    border-left: 3px outset #b299fa;
    border-right: 3px inset #512f98;
}
.tag {
    padding: 0.25em;
    background: #bfaaff; /* Adjusted color */
    border-radius: 0.5em;
    text-align: center;
}
/*Indiviual Playlist page*/
.horizontal-double-content{
    padding: 2em;
    text-align: center;
    justify-content: center;
}

.playlist-img{
    border: 3px outset #222222;
    max-width: 10em;
    max-height: 10em;
    border-radius: 0.5em;   
}
.playlist:hover .playlist-img{
    border-style: solid;
    background: #00000000; /* Adjusted color */
    border-bottom: 3px inset #512f98;
    border-top: 3px outset #b299fa;
    border-left: 3px outset #b299fa;
    border-right: 3px inset #512f98;
    text-align: center;
}

.playlist-name{
    padding: 1em;
    
}
.playlist-rating{
    padding: 1em;
    
}
.songlst{
    padding: 1em;
    border-radius: 0.2em;
    background-color: #9883e5;;
    border-bottom: 3px inset #9883e5;
    border-top: 3px outset #b299fa;
    border-left: 3px outset #b299fa;
    border-right: 3px inset #9883e5;
}
.song-icon{
    
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    background: #bfaaff; /* Adjusted color */
    border-bottom: 3px inset #512f98;
    border-top: 3px outset #bfaaff;
    border-left: 3px outset #bfaaff;
    border-right: 3px inset #512f98;
    border-radius: 1em;
    text-align: center;

    
}
.song-title{
    color: #222222;
    padding:0.5em;
}
.song{
    padding:0.5em;

}
.song-feild{
    margin-bottom: 2em;
}
.small-playlist-icon{

   
    margin: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    background: #bfaaff; /* Adjusted color */
    border-bottom: 3px inset #512f98;
    border-top: 3px outset #bfaaff;
    border-left: 3px outset #bfaaff;
    border-right: 3px inset #512f98;
    border-radius: 1em;
    text-align: center;
    max-width: 5em;
    max-height: 5em;
}
.user-icon{
    background-color: #00000000;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1.5em;
}
.newcomment{
    background-color: #512f98;
    border-radius: 2em;
    border-bottom: 3px inset #512f98;
    border-top: 3px outset #bfaaff;
    border-left: 3px outset #bfaaff;
    border-right: 3px inset #512f98;
}
.newcomment:hover{
    color:#bfaaff;
    background-color: #9883e5;
    border-radius: 2em;
    border-bottom: 3px inset #bfaaff;
    border-top: 3px inset #9883e5;
    border-left: 3px inset #9883e5;
    border-right: 3px inset #bfaaff;
}
.commentlst{
    padding: 1em;
    background-color: #9883e5;
    border-radius: 0.2em;
    border-bottom: 3px inset #9883e5;
    border-top: 3px outset #b299fa;
    border-left: 3px outset #b299fa;
    border-right: 3px inset #9883e5;

}
.comment{
     padding:0.5em; 
     padding-top: 1em;
     padding-bottom: 1em;
     
}
.commentblock{
    padding:0.5em; 
    margin: 0.5em;
}

.horizontal-double-content{
    padding: 2em; 
}
.double-header{
    margin-bottom:5em
}
#comment-create-box{
    background-color: #b299fa;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
}
#comment-create-box .pure-form {
    padding: 5em;
  }
.right-align{
    width: 150px;
    margin: 1em;
    margin-left: auto; 
}
.star-button{
    margin: -0.2em;
    padding: .6em .4em;
    border-style: none;
    background-color: #00000000;
    border-radius: 3em;
}
.star-button:hover{
    padding: .6em .4em;
    background-color: #222222;
    border-radius: 3em;

}
.star-button-selected{
    padding: .6em .4em;
    border-style: none;
    background-color: #222222;
    border-radius: 3em;
}
.star-button-selected:hover{
    padding: .6em .4em;
    background-color: #222222;
    border-radius: 3em;
    background-image: radial-gradient(circle, #222222, #222222 50%, #512f98 75%);;

}


.stars{
    margin: .1em -0.3em;
    position: relative;
    display: block;
    color: #bfaaff;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: .7em solid #bfaaff;
    border-left: 1em solid transparent;
    transform: rotate(35deg);
    border-radius: 3em;
  }
  .stars:before {
    border-bottom: .8em solid #bfaaff;
    border-left: .3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -.45em;
    left: -.65em;
    display: block;
    content: '';
    transform: rotate(-35deg);
    border-radius: 3em;
  }
  .stars:after {
    position: absolute;
    display: block;
    color: #bfaaff;
    top: .03em;
    left: -1.05em;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: .70em solid #bfaaff;
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: '';
    border-radius: 3em;
  }
  .stars-filled{
    margin: .1em -0.3em;
    position: relative;
    display: block;
    color: #512f98;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: .7em solid #512f98;
    border-left: 1em solid transparent;
    transform: rotate(35deg);
    border-radius: 3em;
  }
  .stars-filled:before {
    border-bottom: .8em solid #512f98;
    border-left: .3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -.45em;
    left: -.65em;
    display: block;
    content: '';
    transform: rotate(-35deg);
    border-radius: 3em;
  }
  .stars-filled:after {
    position: absolute;
    display: block;
    color: #512f98;
    top: .03em;
    left: -1.05em;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: .70em solid #512f98;
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: '';
    border-radius: 3em;
  }
/*Create Playlist page*/

.add-song{
 
    background-color: #512f98;
    border-radius: 2em;
    border-bottom: 5px inset #512f98;
    border-top: 5px outset #bfaaff;
    border-left: 5px outset #bfaaff;
    border-right: 5px inset #512f98;
    
}
.add-song:hover{
    color:#bfaaff;
    background-color: #9883e588;
    border-radius: 2em;
    border-bottom: 5px inset #bfaaff;
    border-top: 5px outset #512f98;
    border-left: 5px outset #512f98;
    border-right: 5px inset #bfaaff;
}

.pure-menu-children{
    background-color: #00000000;
}
.pure-button{
    color: #222222;
    margin: 1em;
    background-color: #00000000;
    border-radius: 2em;
    border-bottom: 5px inset #512f98;
    border-top: 5px outset #bfaaff;
    border-left: 5px outset #bfaaff;
    border-right: 5px inset #512f98;
}
.pure-button:hover{
    color:#efeaff;
    background-color: #9883e5;
    border-radius: 2em;
    border-bottom: 5px inset #bfaaff;
    border-top: 5px outset #512f98;
    border-left: 5px outset #512f98;
    border-right: 5px inset #bfaaff;
}
.pure-button-disabled{
    color:#bfaaff;
    background-color: #9883e5;
    border-radius: 2em;
    border-bottom: 3px inset #bfaaff;
    border-top: 3px inset #9883e5;
    border-left: 3px inset #9883e5;
    border-right: 3px inset #bfaaff;
}
.song-info-feild{
    padding: 1em;
    margin: 1em;
}


  /*  -- TABLET (AND UP) MEDIA QUERIES -- */
 @media (min-width: 40em) {
}
/*  -- DESKTOP (AND UP) MEDIA QUERIES -- */
@media (min-width: 60em) {
}