<div class="pure-g song">
    <div class="pure-u-1-5 song-icon">
        <img src="{{ song.songImage }}" alt="Song Image">
    </div>
    <div class="pure-u-3-5 song-title">
        {{ song.songName }}
    </div>
    <button class="add-song" onclick="addSong('{{ song.songID }}')">
        <h1>+</h1>
    </button>
</div>