<div class="pure-g song">
    <div class="pure-u-1-5 song-icon ">
        Song icon
    </div>
    <div class="pure-u-3-5 song-title">
        {{song}}
    </div>
    <button  class = "add-song" onclick = "addSong('')">
            <h1>+</h1>  
    </button >
</div>