
{% extends "layout.html.jinja" %}
{% block title %} Edit Playlist {% endblock %}
{% block page_title %}
<h1>
{# {% playlistDetails.playlistName %} #}
Playlist Name
</h1>
{% endblock %}
{% block content %}
{% if user_session != None %}
<div class="pure-g horizontal-double-content" style="padding: 2em;">
    <div class="pure-u-5-12">
         <form class="pure-form pure-u-1" method = "POST" action = "/edit-playlist">
                    <input type="text" class="pure-input-rounded" placeholder="Find a Song..."/>
                    <button type="submit" class="pure-button">Search</button>
        </form>
        <div class = "songlst">
            {% for song in songs %}
                {% include "addsongcard.html.jinja" ignore missing with context %}
            {% endfor %}
        </div>
        
    </div>
    <div class="pure-u-5-12 horizontal-double-content" >
        <div class="pure-g song-feild">
            <div class="pure-u-1-5 small-playlist-icon">
                <img src="playlist_image.jpg" alt="Playlist Image">
              
            </div>
            <div class="pure-u-1-3">
               <form class="pure-form pure-u-1" method = "POST" action = "/library">
                    <input type="text" placeholder="name of playlist" value = "Name of playlist"/>
                    
        
            </div>
        </div>
      <div class = "songlst">
            {% for song in songs %}
                {% include "deletesongcard.html.jinja" ignore missing with context %}
            {% endfor %}
        </div>
        <div class = "right-align">
            <!-- Save Button (Bottom Right) -->
           
                <button onclick="savePlaylist()" class="save-button pure-button">Save Playlist</button>
            </form>
      </div>
    </div>
     
    </div>
</div>
{% else %}
    <p> You can't access this page with out loging in</p>
    <a href="/login" class="pure-menu-link">Log in</a>
{% endif %}


    <script>
        /*
        // Function to get playlist data from the server
        function getPlaylist() {
            fetch('/getPlaylist')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No search results for playlist from server');
                    }
                    return response.json(); // Read the response body as JSON
                })
                .then(data => { 
                    // Display playlist details and songs
                    document.getElementById('playlistSongs').innerHTML = renderPlaylistSongs(data.songs);
                    document.querySelector('h1').innerText = data.playlistName;
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
        // Alters display when user clicks a new tab
        function searchSong(newTab){

        }
        function addSong(newTab){

        }
        function editSong(newTab){

        }
        function savePlaylist(newTab){

        }
        window.onload = getPlaylist();
        */
    </script>
{% endblock %}
