<div class="pure-g song">
    <div class="pure-u-1-5">
        <img src="{{ song.songImage }}" alt="Song Icon" class = " song-icon">
    </div>
    <div class="pure-u-3-5 song-title">
        {{ song.songName }}
    </div>
    <button class="add-song" onclick="deleteSong('{{ song.songID }}', '{{ song.songName }}', '{{ song.songImage }}')">
        <h1>-</h1>
    </button>
</div>
xw