{% extends "layout.html.jinja" %}
{% block title %}Home{% endblock %}
{% block page_title %}
<h1>Home</h1>
{% endblock %}
{% block content %}
<div class="pure-g">
    <form action="/spotify/login" method="get">
        <button type="submit">Login with Spotify</button>
    </form>
    
    {% for playlist in playlists %}
        {% include "playlistcard.html.jinja" ignore missing with context %}
    {% endfor %}
</div>
{% endblock %}