<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="/static/better.css">
    <title>{% block title %}{% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list nav-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Menu</a>
                <ul class="pure-menu-children">
                    {% if user_session == None %}
                    {#  If user not signed in: #}
                    <li class="pure-menu-item">
                        <a href="/home" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/login" class="pure-menu-link">Log in</a>
                    </li>
                    {% else %}
                    <li class="pure-menu-item">
                        <a href="/home" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/library" class="pure-menu-link">Library</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/settings" class="pure-menu-link">Settings</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/logout" class="pure-menu-link">Log Out</a>
                    </li>
                    {% endif %}

                </ul>
            </li>
            <li class="pure-menu-item">
                {% block avatarPhoto %}{% endblock %}
            </li>
             <li class="pure-menu-item">
            <a href="/" class="pure-menu-heading pure-menu-link" id="navbarWebsiteName">Mixtape.fm</a>
            </li>
            <li class="pure-menu-item">
                <form class="pure-form" method = "POST" action = "/search">
                    <input type="text" class="pure-input-rounded" name ="SerchBar" placeholder="Find a playlist..." minlength="1"/>
                    <button type="submit" class="pure-button-rounded pure-menu-link" id="playlistSearchButton">Search</button>
                </form>
            </li>
          
        </ul>
    </div>
    <div class="page-title">
        {% block page_title %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script>
    
    </script>
  </body>
</html>
