<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5 playlist-container">
    <button class="playlist" onclick="redirectToPlaylist({{ playlist.playlistID }})">
        <div class="playlist-icon">
            <img src="{{ playlist.image }}" class = "playlist-img" alt="Playlist Image">
        </div>
        <div class="playlist-name">
            {{ playlist.name }}
        </div>
        <div class="playlist-rating">
            {% if playlist.ratingAvg != '0' and playlist.ratingAvg != 0 %}
                {{ playlist.ratingAvg }}
            {% endif %}
        </div>
        <div class="pure-g playlist-tags">
            {% for tag in playlist.tags %}
                <div class="tag pure-u-1-3">
                    {{ tag }}
                </div>
            {% endfor %}
        </div>
    </button>
    <div class="playlist-edit" style="display: none;">
        <button class="playlist">Edit</button>
    </div>
</div>
<script>
    function redirectToPlaylist(playlistId) {
        console.log(playlistId);
        window.location.href = "/playlist/" + playlistId;
    }
</script>
