{% extends "layout.html.jinja" %}
{% block title %}Home{% endblock %}
{% block page_title %}
<h1> {{playlist.name}}</h1>
{% endblock %}


{% block content %}
<div class="pure-g  double-content-container">
    <div class="pure-u-6-12 horizontal-double-content">
        <div class="pure-g">
            <div class="pure-u-1-6">
                <img src="{{ playlist.image }}" alt="User Icon" class="small-playlist-icon">
                {# {{ playlist.image }} #}
                {# Picture of Playlist #}
            </div>
            <div class="pure-u-1-6">
                <img src="{{ user_image }}" alt="User Icon" class="small-playlist-icon">
                {# {{ user_image }} #}
            </div>
            <div class="pure-u-3-6" style="padding: 2em 0.5em;  margin-left: 2.5em;">
                {{ user_name }}
                <div style="padding: 0.5em 1em;">
                    <button id="star1" class="star-button">
                        {%if playlist.ratingAvg >= 1 %}
                        <div class="stars-filled"></div>
                        {%else%}
                        <div class="stars"></div>
                        {%endif%}
                    </button>
                    <button id="star2" class="star-button">
                        {%if playlist.ratingAvg >= 2 %}
                        <div class="stars-filled"></div>
                        {%else%}
                        <div class="stars"></div>
                        {%endif%}
                    </button>
                    <button id="star3" class="star-button">
                        {%if playlist.ratingAvg >= 3 %}
                        <div class="stars-filled"></div>
                        {%else%}
                        <div class="stars"></div>
                        {%endif%}
                    </button>
                    <button id="star4" class="star-button">
                        {%if playlist.ratingAvg >=4 %}
                        <div class="stars-filled"></div>
                        {%else%}
                        <div class="stars"></div>
                        {%endif%}
                    </button>
                    <button id="star5" class="star-button">
                        {%if playlist.ratingAvg >= 5 %}
                        <div class="stars-filled"></div>
                        {%else%}
                        <div class="stars"></div>
                        {%endif%}
                    </button>
                </div>
            </div>
        </div>
        <div class="songlst">
            {% for song in songs %}
            {% include "songcard.html.jinja" ignore missing with context %}
            {% endfor %}
        </div>
    </div>
    <div class="pure-u-6-12 horizontal-double-content">
        <div class="commentlst">
            <div class="pure-g">
                {% if user_session != None %}
                <div class="pure-u-1-3">
                    <button class="pure-button " onclick="toggleComment('comment-create-box')">
                        + Add a comment
                    </button>
                </div>
                <div class="pure-u-1-3" id="editPlaylistDiv" style="display: none;">
                    <button onclick="editPlaylist()" class="save-button pure-button">Edit Playlist</button>
                </div>
                {% endif %}


                  <!-- Save Button  -->

                {% if user_session != None %}
                <form class="pure-form pure-u-1-3" method="POST" action="/library">
                    <button onclick="savePlaylist()" class="save-button pure-button">Save Playlist</button>
                </form>
                {% endif %}

            </div>

            <div>
                {% for comment in comments %}
                {% include "commentcard.html.jinja" ignore missing with context %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{# JS handles the submission of these: #}
<div id="comment-create-box" style="display: none;">
    <form id="comment-form" class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Leave a comment</legend>
            <textarea id="comment-text" rows="4" cols="100" class="pure-input-1" placeholder="Write something"
                minlength="1"></textarea>
            <button type="button" id="cancel-button" class="pure-button pure-button-primary"
                onclick="toggleComment('comment-create-box')">Cancel</button>
            <button type="submit" class="pure-button pure-button-primary"
                onclick="toggleComment('comment-create-box')">Post</button>
        </fieldset>
    </form>
</div>

<script>
    const userID = "{{ user_id }}";
    var playlistID = "{{ playlist_id }}";
    var userRating = {{ user_rating }};
    var playlist = {{ playlist  | tojson}};


    let userIsOwner = playlist.userID === userID ? true : false;
    if (userIsOwner) {  // if user owns playlist, give them edit button
        let editPlaylistDiv = document.getElementById("editPlaylistDiv");
        editPlaylistDiv.style.display = "block";
    }

    var starButtons = document.querySelectorAll('.star-button');
    // spotify_connected=session['spotify'] is not None -> user not logged into spotify
    // if user_id is None -> user not logged into our site

    starButtons.forEach(function (star, index) {
        star.onclick = function () {
            addRating(index + 1);  // add rating to back-end
            changeStarClass(star, index + 1, 'star-button-selected');
        }
    });

    if (userRating !== "") {
        starButtons.forEach(function (star, index) {
            if (index < userRating) {
                star.classList.add('star-button-selected');
            }
        });
    }

    function changeStarClass(element, selectedIndex, className) {
        // Remove 'star-button-selected' class from all stars
        starButtons.forEach(function (star, index) {
            if (index < selectedIndex) {
                star.classList.add(className);
            } else {
                star.classList.remove(className);
            }
        });
    }
    function toggleComment(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    // Add star rating to playlist
    function addRating(stars) {
        if (userID === undefined) {
            console.error('User not signed in');
            return;
        }
        const data = {
            user_id: userID,
            playlist_id: playlistID,
            stars: stars,
        };
        fetch('/rate-playlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // Save playlist to user's library
    function savePlaylist() {
        console.log('User saving this playlist...');
        if (userID === undefined) {
            console.error('User not signed in');
            return;
        }
        const data = {
            userID: userID,
            playlistID: playlistID
        };
        fetch('/playlist/save', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    console.log('Playlist saved successfully');
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // Handle comment submissions:
    document.addEventListener("DOMContentLoaded", function () {
        const commentForm = document.getElementById("comment-form");
        commentForm.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent default form submission behavior
            toggleComment("comment-form");

            const commentText = document.getElementById("comment-text").value;
            if (userID === undefined) {
                console.error('User not signed in');
                return;
            }
            const data = {
                user_id: userID,
                playlist_id: playlistID,
                comment: commentText
            };
            console.log(data);
            fetch('/add-comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    else {
                        console.log("comment submission successful");
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        })
    });
    function editPlaylist() {
        console.log("Triggered editPlaylist with pid: ", playlistID);
        window.location.href = "/edit-playlist/" + playlistID;
    }
</script>
{% endblock %}