{% extends "layout.html.jinja" %}
{% block title %}Home{% endblock %}
{% block page_title %}
<h1>Search Results</h1>
{% endblock %}
{% block content %}
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link tab">Playlist Name</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link tab">Tags</a>
        </li>
       
    </ul>
</div>
<div class="pure-g">
    {% for playlist in playlists %}
        {% include "playlistcard.html.jinja" ignore missing with context %}
    {% endfor %}
</div>
{% endblock %}