{% extends "layout.html.jinja" %}
{% block title %}Settings{% endblock %}
{% block page_title %}
<h1>Settings</h1>
{% endblock %}
{% block content %}
<div class="pure-g">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                Change Avatar
                <button onclick="changeAvatar()">Browse Images...</button>
                <label for="aligned-name"></label>
            </div>
            <div class="pure-control-group
                <label for=" layoutSetting">Change Default Layout</label>
                <select name="layoutSetting" id="layoutSetting">
                    <option value="None" selected>User's Current Setting</option>
                    <option value="someOption">
                        A different setting</option>
                </select>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}