<div class="pure-g song">
    <div class="pure-u-1-5 song-icon">
        {% if song.picture %}
            <img src="{{ song.icon }}" alt="Song Icon">
        {# {% else %}
            <img src="default_icon.jpg" alt="Default Song Icon"> #}
        {% endif %}
    </div>
    <div class="pure-u-3-5 song-title">
        <p>{{ song.name }} by: {{ song.artist }}</p>
        {% if song.album %}
            <p>Album: {{ song.album }}</p>
        {% endif %}
        {% if song.genre %}
            <p>Genre: {{ song.genre }}</p>
        {% endif %}
        {% if song.duration %}
            <p>Duration: {{ song.duration }}</p>
        {% endif %}
    </div>
</div>
